/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* gold-nouveau theme */
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand.ttf');
  font-display: swap;
}
